@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply font-montserrat !important;
}

body {
	@apply overflow-x-hidden;
}

.hide-scrollbar::-webkit-scrollbar {
	@apply hidden;
}
.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

._divider {
	@apply flex flex-row before:mr-10 after:ml-10 !important;
}
._divider:before,
._divider:after {
	flex: 1 1;
	@apply content-[''] border-b m-auto;
}

details summary {
	@apply list-none;
}
details summary::-webkit-details-marker {
	@apply hidden;
}

/* styles for productos */
.productos__grid {
	@apply grid gap-x-14 gap-y-20 pt-20 pb-24;
	grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
	grid-auto-rows: 275px;
}

.title-lh {
	line-height: 1.1 !important;
}

@media (max-width: 768px) {
	.productos__grid {
		@apply grid gap-x-5 gap-y-16 pt-20 pb-24;
		grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
		grid-auto-rows: 200px;
	}
	.title-lh {
		line-height: 1.5 !important;
	}
}
