@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply overflow-x-hidden;
}

.hide-scrollbar::-webkit-scrollbar {
	@apply hidden;
}
.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

._divider {
	@apply flex flex-row before:mr-10 after:ml-10 !important;
}
._divider:before,
._divider:after {
	flex: 1 1;
	@apply content-[''] border-b m-auto;
}

details summary {
	@apply list-none;
}
details summary::-webkit-details-marker {
	@apply hidden;
}
